
<div *ngIf='userPosts.length; else loading' class="user-details-container">
    <mat-card class='user-card'>
        <!-- <mat-card-actions>
            <button mat-button>GO BACK</button>
        </mat-card-actions> -->
        <mat-card-header>
            <mat-card-title> {{ selectedUser && selectedUser.username }} </mat-card-title>
            <mat-card-subtitle> {{ selectedUser && selectedUser.email }} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <h4> <strong>Name:</strong> {{ selectedUser && selectedUser.name }} </h4>
            <h4> 
                <strong>Address:</strong> 
                {{ selectedUser && selectedUser.address.city }},
                {{ selectedUser && selectedUser.address.street }},
                {{ selectedUser && selectedUser.address.suite }} 
            </h4>
            <h4> <strong>Company:</strong> {{ selectedUser && selectedUser.company.name }} </h4>
            <h4> <strong>Phone:</strong> {{ selectedUser && selectedUser.phone }} </h4>
        </mat-card-content>
    </mat-card>

    <mat-selection-list [multiple]="false" class='user-posts'>
        <div mat-subheader>USER POSTS LIST</div>
    
        <mat-list-option  *ngFor='let post of userPosts'  [routerLink]='["/posts", post.id]'>
            <!-- [routerLink]='["/users", user.id]' -->
            <div mat-line mat-card-title>
                {{ post.title }}
            </div>
            <div mat-line mat-card-title>
                {{ post.body.slice(10) + '...' }}
            </div>
        </mat-list-option>
    </mat-selection-list>
    
</div>

<ng-template #loading>
    <div class="loading">
        <mat-spinner [diameter]='40' [strokeWidth]='2'></mat-spinner>
    </div>
</ng-template>


<!-- <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
