.post-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    // width: 80%;
    align-items: center;
    padding: 50px 100px;

    .post-card, .comments {
        width: 80%;
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    overflow: hidden;
}